@font-face {
  font-family: "Spartan";
  src: url(../assets/Spartan/Spartan-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Spartan";
  src: url(../assets/Spartan/Spartan-Regular.ttf);
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Spartan";
  src: url(../assets/Spartan/Spartan-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Spartan";
  src: url(../assets/Spartan/Spartan-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Spartan";
  src: url(../assets/Spartan/Spartan-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Paytone";
  src: url(../assets/Paytone_One/PaytoneOne-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/Open_Sans/OpenSans-VariableFont.ttf);
  font-weight: 300 800;
  font-stretch: 75 100;
}
